.section-header {
    margin: 13px 0 13px 8px;
}

.imagesOuterWrapper {
    padding-left: 8px;
}

.imagesTableWrapper {
    margin-bottom: 0.5em;
}

ul.chooser {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

textarea .subnetList {
    width: 100%;
    height: 30em;
}

textarea .securityGroupList {
    width: 100%;
    height: 30em;
}
